.headphone {
  min-height: 100vh;
}

.page-name-container {
  background-color: #191919;
  color: white;
  text-align: center;
  height: 250px;
  letter-spacing: 2px;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-name-container,
.product h4,
.product h3,
.product button {
  text-transform: uppercase;
}

.category-products-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4em;
}

.product {
  text-align: center;
  margin-bottom: 7em;
  margin-top: 4em;
  /*border: 1px solid red;*/
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h4 {
  color: #d87d4a;
  letter-spacing: 10px;
  font-weight: 400;
  margin-top: 1em;
}

.product h3 {
  font-size: 2em;
  margin-top: 0.5em;
  line-height: 1.1;
  color: #191919;
  letter-spacing: 1.5px;
}

.product p {
  color: #00000080;
  margin-top: 1.5em;
  line-height: 1.5;
}

.product button {
  background-color: #d87d41;
  color: white;
  border: none;
  margin-top: 2em;
  padding: 1em 2em;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  filter: contrast(0.9);
  font-weight: 600;
}

.categoreies-container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 480px) {
  .product h3 {
    width: 50%;
    margin: 0 auto;
    margin-top: 0.5em;
  }

  .product p {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.5em;
  }
}

@media (min-width: 990px) {
  .product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
  }

  .product img {
    width: 50%;
  }

  .product-details h3,
  .product-details p {
    margin: 0;
    margin-top: 0.6em;
  }

  .product-details p {
    margin-top: 1.1em;
  }

  .product-details {
    align-self: center;
    text-align: left;
    margin: 0;
  }

  .category-products-container {
    width: 70%;
  }

  .categoreies-container {
    width: 70%;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .category-products-container {
    width: 90%;
  }

  .categoreies-container {
    width: 90%;
  }

  .categoreies-container {
    width: 90%;
  }
}
