.home-container {
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: relative;
  background-image: url(/assets/home/mobile/image-hero.jpg);
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 500px;
  max-height: 500;
}

.header-content-container {
  text-align: center;
  align-items: center;
}

.header-content-container h3 {
  letter-spacing: 10px;
  font-size: 0.9em;
}

.header-content-container h3,
.header-content-container button,
.shop-item-container h3,
.shop-item-container a,
.product-content button,
.product-display-content button,
.info,
.info button {
  text-transform: uppercase;
}

.header-content-container h3,
.header-content-container p {
  color: #ffffff80;
}

.header-content-container h1 {
  color: white;
  margin-top: 0.4em;
  line-height: 1.1;
  font-size: 2.3em;
  letter-spacing: 1px;
}

.header-content-container p {
  font-weight: 400;
  margin-top: 1.5em;
  line-height: 1.6;
}

.header-content-container button {
  background-color: #d87d41;
  color: white;
  border: none;
  margin-top: 2em;
  padding: 1em 2em;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  filter: contrast(0.9);
}

.main {
  background-color: white;
}

.main-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 2em;
}

.shop-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  margin-top: 4em;
  border-radius: 10px;
  width: 100%;
}

.product-img {
  width: 140px;
  position: relative;
  bottom: 50px;
}

.shop-item-container h3 {
  position: relative;
  letter-spacing: 1px;
  font-size: 0.9em;
  bottom: 40px;
}

.shop-item-container a {
  text-decoration: none;
  color: #00000080;
  font-weight: 700;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
  bottom: 25px;
}

.new-product-container,
.product-display img,
.new-product-img img,
.new-product-info,
.who-we-are-container img {
  border-radius: 10px;
}

.new-product-container {
  background-color: #d87d4a;
  background-image: url("/assets/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: 50% -10.125rem;
  background-size: cover;
  margin-top: 6em;
  padding: 1em;
  margin-bottom: 2em;
  padding-bottom: 3em;
}

.product-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.product-content img {
  width: 170px;
  margin-top: 2em;
}

.product-content h2 {
  font-size: 2.1em;
  line-height: 1;
  margin-top: 1.1em;
  letter-spacing: 3px;
}

.product-content p {
  color: #ffffffbf;
  font-weight: 200;
  margin-top: 1.1em;
  line-height: 1.5;
}

.product-content button {
  background-color: #191919;
  border: none;
  color: white;
  margin-top: 3em;
  padding: 1em 2em;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.new-product-details-container {
  position: relative;
}

.product-display {
  position: relative;
}

.product-display img {
  width: 100%;
  height: auto;
}

.product-display-content {
  position: absolute;
  top: 32%;
  padding-left: 1em;
}

.product-display-content h2 {
  font-size: 1.7em;
}

.product-display-content button,
.info button {
  width: 170px;
  border: 1px solid #191919;
  background: none;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1em 0;
  margin-top: 1.7em;
}

.new-item-container {
  margin-top: 1.3em;
}

.new-product-info {
  background-color: #f1f1f1;
  font-size: 1.1em;
  margin-top: 1.3em;
}

.info {
  padding: 1.8em 1.5em;
}

.new-product-img {
  width: 100%;
}

.new-product-img img {
  width: 100%;
  height: 100%;
}

.who-we-are-container {
  margin-top: 8em;
}

.who-we-are-container img {
  width: 100%;
}

.our-goal-container {
  text-align: center;
  margin-top: 1.5em;
  padding-bottom: 3em;
}

.our-goal-container h3 {
  font-size: 1.7em;
  color: #191919;
  letter-spacing: 2px;
}

.our-goal-container h3 span {
  color: #d87d4a;
}

.our-goal-container p {
  margin-top: 1.5em;
  line-height: 1.5;
  color: #00000080;
  font-size: 1em;
}

@media (min-width: 480px) {
  .header {
    background-image: url(/assets/home/tablet/image-hero.jpg);
    height: 550px;
  }

  .header-content-container h1 {
    font-size: 3.5em;
  }

  .home-products-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
  }

  .product-content h2 {
    font-size: 4em;
    margin-top: 0;
    margin-top: 0.5em;
  }

  .product-content p {
    width: 87%;
  }

  .product-content img {
    width: 200px;
    margin-top: 2em;
  }

  .main-container {
    width: 90%;
    margin: 0 auto;
    padding-top: 2em;
  }

  .product-display-content {
    top: 30%;
    left: 20px;
  }

  .new-item-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }

  .new-product-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 50%;
    margin-top: 0;
  }

  .new-product-img {
    width: 50%;
  }

  .our-goal-container h3 {
    font-size: 2.6em;
  }
}


@media (min-width: 990px) {
  .header {
    background-image: url(/assets/home/desktop/image-hero.jpg);
    background-position: bottom;
    min-width: 100%;
    justify-content: start;
    height: 620px;
  }

  .header-content-container {
    text-align: left;
    width: 50%;
    padding-left: 2em;
  }
}