nav {
  display: flex;
  justify-content: space-between;
  padding: 2em 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 5555;
}

.menu-logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  background-color: #191919;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logo-link {
  margin: 0 auto;
}

.navbar-menu-container {
  background-color: white;
  padding: 1em 1.5em;
  position: absolute;
  width: 100%;
  z-index: 222;
  border-radius: 0 0 15px 15px;
  padding-bottom: 4 em;
}

.menu {
  position: relative;
  height: 100%;
}

@media (min-width: 480px) {
  .logo-link {
    margin: 0;
    padding-left: 2.5em;
  }
}

@media (min-width: 990px) {
  .navbar-container {
    width: 85%;
    margin: 0 auto;
  }

  nav {
    margin: 0 auto;
    width: 90%;
    padding-left: 0;
  }

  .logo-link {
    padding-left: 0;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .navbar-container {
    margin: 0 auto;
    width: 100%;
  }

  nav {
    margin: 0 auto;
    width: 94%;
    padding-left: 0;
  }

  .logo-link {
    padding-left: 0;
  }
}
