nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 5555;
}

.menu-logo-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar {
  background-color: #191919;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.logo-link {
  margin: 0 auto;
}

.navbar-menu-container {
  background-color: white;
  padding: 1em 1.5em;
  position: absolute;
  width: 100%;
  z-index: 222;
  border-radius: 0 0 15px 15px;
  padding-bottom: 4em;
}

.menu {
  position: relative;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.cart-icon {
  cursor: pointer;
}

.cart-menu {
  position: relative;
  height: 100%;
}

.cart-menu-container {
  background-color: white;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 333;
  width: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*padding: 1em 2em;*/
  border-radius: 7px;
}

.cart-menu-container h2 {
  color: #00000080;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.cart-menu-wrapper {
  width: 80%;
  margin-top: 1.5em;
}

.cart-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.cart-info h2 {
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.cart-info button {
  border: none;
  background: none;
  text-decoration: underline;
  color: #00000080;
  font-size: 1em;
  letter-spacing: 1px;
  margin-top: 0.1em;
}

.cart-info button:hover {
  color: #d87d4a;
  transition: all .1s ease-in;
}

.cart-product {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.cart-product img {
  border-radius: 10px;
}

.cart-product-info {
  width: 100px;
}

.cart-product-info span {
  display: block;
  padding-left: .5em;
}

.cart-product-price {
  font-weight: 800;
  font-size: .9em;
  color: #00000080;
}

.cart-product-name {
  font-weight: 600;
  font-size: 1em;
}

.product-counter {
  background-color: #f1f1f1;
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.decrement-btn,
.increment-btn {
  /*cursor: pointer;
  padding: 2em 1em;
  border: none;*/
  width: 100%;
  height: 40px;
}

@media (min-width: 480px) {
  .logo-link {
    margin: 0;
    padding-left: 2.5em;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .cart-menu-container {
    width: 350px;
  }
}

@media (min-width: 990px) {
  .navbar-container {
    width: 85%;
    margin: 0 auto;
  }

  nav {
    margin: 0 auto;
    width: 90%;
    padding-left: 0;
    display: flex;
    align-items: center;
  }

  .logo-link {
    padding-left: 0;
  }

  .navigation-container {
    margin: 0 auto;
  }

  .navigation-container ul {
    list-style: none;
    display: flex;

    gap: 2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
  }

  .navigation-container ul li:hover {
    color: #d87d4a;
  }
}

@media (min-width: 990px) and (max-width: 1200px) {
  .navbar-container {
    margin: 0 auto;
    width: 100%;
  }

  nav {
    margin: 0 auto;
    width: 94%;
    padding-left: 0;
  }

  .logo-link {
    padding-left: 0;
  }
}
