nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2em 1.5em;
   border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar {
    background-color: #191919;
}