.current-product-container {
  min-height: 100vh;
}

.product-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5em;
}

.product-wrapper a button{
  padding-left: 0;
}

.product-info h4,
.features-container h3,
.counter-wrapper button,
.in-the-box-container h3,
.other-products-container h3,
.other-product-info-container button,
.product-info h3 {
  text-transform: uppercase;
}

.product-wrapper .get-back button {
  background: none;
  border: none;
  color: #00000080;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.1em;
  cursor: pointer;
}

.product-details-container {
  margin-top: 1em;
}

.product-main-info {
  text-align: left;
}

.product-main-info h5 {
  font-size: 1.2em;
  color: #191919;
  margin-top: 1em;
}

.product-main-info img,
.gallery-images-container img {
  width: 100%;
  border-radius: 10px;
}

.product-info h4 {
  color: #d87d4a;
  letter-spacing: 10px;
  font-weight: 500;
  margin-top: 1em;
}

.product-info h3 {
  font-size: 2em;
  margin-top: 0.5em;
  line-height: 1.1;
  color: #191919;
  letter-spacing: 1.5px;
}

.product-info p {
  color: #00000080;
  margin-top: 1.5em;
  line-height: 1.5;
}

.add-to-cart-btn {
  background-color: #d87d41;
  color: white;
  border: none;
  margin-top: 2em;
  padding: 1em 2em;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1px;
  filter: contrast(0.9);
  font-weight: 600;
}

.product-info-container,
.features-container,
.in-the-box-container {
  padding-left: 0.4em;
}

.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 3em;
  width: 100%;
  gap: 1em;
}

.counter {
  background-color: #f1f1f1;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decrement-btn,
.increment-btn {
  cursor: pointer;
  padding: 1em 1.5em;
  border: none;
}

.decrement-btn:hover,
.increment-btn:hover {
  background-color: #d1d1d1;
  color: #d87d41;
}

.quantity {
  font-weight: 600;
}

.counter-wrapper button {
  margin-top: 0;
  height: 47px;
}

.features-container {
  margin-top: 4em;
  text-align: left;
}

.features-container h3 {
  font-size: 1.5em;
  letter-spacing: 0;
}

.features-container p {
  color: #00000080;
  margin-top: 1em;
  line-height: 1.5;
}

.in-the-box-container {
  margin-top: 4em;
}

.in-the-box-container h3 {
  font-size: 1.3em;
}

.items {
  margin-top: 1em;
}

.items h2 {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  font-weight: 300;
  color: #00000080;
  margin-bottom: 0.5em;
}

.items h2 span {
  color: #d87d4a;
  font-size: 0.9em;
  font-weight: 700;
}

.gallery-images-container {
  margin-top: 7em;
}

.gallery-images-container img {
  margin-bottom: 1em;
}

.other-products-container {
  margin-top: 5em;
}

.other-products-container h3 {
  text-align: center;
  font-size: 1.5em;
}

.other-product-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.other-product-info-container img {
  width: 100%;
  border-radius: 8px;
}

.other-product-info-container h3 {
  margin-top: 1.2em;
}

.other-product-info-container button {
  background: #d87d4a;
  color: white;
  border: none;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 160px;
  padding: 1em;
  padding-right: 0;
  margin-top: 2em;
  cursor: pointer;
  
}

.other-products-wrapper {
  margin-top: 2em;
}

.categoreies-container {
  margin-top: 10em;
}

.get-back button:hover {
  text-decoration: underline;
}

@media (min-width: 500px) {
  .product-wrapper {
    width: 95%;
  }

  .product-main-info {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .product-main-info img {
    width: 50%;
  }

  .product-info {
    margin-top: 3em;
  }

  .product-info p,
  .product-info h3,
  .counter-wrapper {
    margin: 0;
    margin-top: 1em;
  }

  .counter-wrapper {
    justify-content: start;
    margin-top: 2em;
  }

  .product-info-container {
    width: 50%;
  }

  .features-container {
    margin-top: 7em;
  }

  .in-the-box-container {
    display: flex;
    gap: 6em;
  }

  .items {
    margin-top: 0;
  }

  .gallery-images-container {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-areas:
      "firstImg secondImg"
      "thirdImg secondImg";
    gap: 1em;
  }

  .gallery-images-container img {
    margin-bottom: 0;
  }

  .other-products-container img {
    width: 100%;
  }
}

@media (min-width: 990px) {
  .product-wrapper,
  .categoreies-container,
  .who-we-are-container {
    width: 75%;
  }

  .get-back button {
    margin-top: 2em;
  }

  .product-details-container {
    margin-top: 2em;
  }

  .product-main-info {
    gap: 2em;
  }

  .product-img img {
    width: 100%;
  }

  .product-info h3 {
    font-size: 2.5em;
    margin-top: 0;
    margin-top: 0.5em;
    padding-right: 1em;
  }

  .product-info p {
    padding-right: 2em;
  }

  .gallery-images-container {
    height: 100%;
  }

  .gallery-images-container {
    grid-template-columns: 1fr 1.4fr;
  }

  .additional-info-container {
    display: flex;
    align-items: start;
    gap: 5em;
    margin-top: 8em;
  }

  .features-container {
    width: 60%;
    margin-top: 0;
  }

  .features-container h3,
  .in-the-box-container h3 {
    font-size: 2em;
  }

  .in-the-box-container {
    flex-direction: column;
    gap: 0em;
    margin-top: 0;
  }

  .items {
    margin-top: 2em;
  }

  .other-product-info-container img {
    width: 100%;
  }

  .other-products-container h3 {
    font-size: 2em;
  }

  .other-products-wrapper {
    display: flex;
    gap: 2em;
    margin-top: 2em;
  }

  .other-product-info-container h3 {
    font-size: 1.6em;
    letter-spacing: 1px;
  }

  .categoreies-container {
    margin-top: 0;
  }
}
